
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="Section">
    <div class="sec">
        <div class="Container">
            <div class="middle">
                <h2>Find your favorites Movies</h2>
                <h4>
                    Discover new movies in 2022 and all the upcoming ones.
                </h4>
                <a href="#">Find now</a>
            </div>
        </div>
    </div>
</div>

